@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Newtonsoft.Json;
@using Umbraco.Web.Models;
@{
	Layout = "Master.cshtml";
}

@{
var memberService= ApplicationContext.Current.Services.MemberService;
var members = memberService.GetMembersByGroup("Active");

}
<div class="col-sm-3" style="font-size:15px;margin-top:20px;margin-left:20px">
@foreach (var member in members) {
if(member.GetValue("photo") != null) {
string image = member.GetValue<string>("photo");
if(image != null) {
ImageCropDataSet imageCrop= JsonConvert.DeserializeObject<ImageCropDataSet>(image);
string imagePath= imageCrop.Src.GetCropUrl(width: 100);
<img src="@imagePath" style="float:left"/>
}
}
<p>@member.Name<br>
@member.GetValue("adress")<br>
@member.GetValue("zip")
@member.GetValue("city")<br>
Email: @member.Email</p>
String[] skills = member.GetValue("skills").ToString().Split(',');
string skillString = string.Join(", ", from skill in skills 
select umbraco.library.GetPreValueAsString(Convert.ToInt32(skill)));
<p>Skills: @skillString</p>

}
</div>