@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{ 
    var selection = CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc"); 
    @* OrderBy() takes the property to sort by and optionally order desc/asc *@
}


@foreach (var item in selection)
{
var isProtected = umbraco.library.IsProtected(item.Id, item.Path);
var loginAccess = umbraco.library.IsProtected(item.Id, item.Path)
                    && umbraco.library.HasAccess(item.Id, item.Path);
                    if(!isProtected|| loginAccess) {
<div class="article">
        <div class="articletitle"><a href="@item.Url">@item.Name</a></div>
        <div class="articlepreview">@Umbraco.Truncate(@item.projectDescription,100) <a href="@item.Url">Read More..</a></div>
    </div>
}
}